@media screen and (max-width:600px) {
    .foreword {
        font-size: 20px;
    }

    .text-foreword {
        font-size: 14px;
        padding-left: 0;
        padding-right: 0;
    }

    .plots {
        display: block;
    }


    #delete {
        border: 2px solid rgba(255, 255, 255, 0);
        border-radius: 8px;
    }

    .separator {
        width: 100%;
        background-color: white;
    }

    .description {
        font-size: 15px;
    }

    .explanation {
        padding-top: 2px;
    }

    .btn-foreword {
        font-size: 15px;
    }
    .logo{
        width: 280px;
    }
    #reduceTheCard{
        width: 55px;
        height: 75px;
    }
    #shrinkTheExampleCard{
        width: 230px;
        height: 160px;
        align-items: center;
    }
}