@media screen and (max-width:600px) {
    .board-of-cards {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 256px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .logo {
        width: 154px;
        height: 96px;
    }

        .cardSection {
            width: 50%;
        }
    }